<header class="header">
    <div class="header-content">
        <div class="logo">
            <a href="{% url 'index' %}">
                <span>気まぐれレシピ研究所</span>
            </a>
        </div>
        
        {% include 'includes/_nav.html' %}
        
        <div class="header-actions">
            {% if user.is_authenticated %}
                <span class="user-greeting">こんにちは、{{ user.username }}さん</span>
                <a href="{% url 'users:logout' %}" class="btn btn-secondary">ログアウト</a>
            {% else %}
                <a href="{% url 'users:login' %}" class="btn btn-primary">ログイン</a>
                <a href="{% url 'users:signup' %}" class="btn btn-secondary">新規登録</a>
            {% endif %}
        </div>
    </div>
</header>