$color-bg-primary: #F8F8F8;
$color-bg-secondary: #E0F2F7;
$color-bg-tertiary: #FFFDE7;

$color-fg-primary: #333333;
$color-fg-secondary: #555555;
$color-fg-tertiary: #777777;
$color-fg-accent: #FF5722;

$color-accent-pink: #FF8A80;

